*{
	margin: 0;
	padding: 0;
}
body{
    display: flex;
/*    flex-direction: column;
    align-items: center;*/
    font-family: Courier New, monospace;
}

canvas{
	cursor: pointer;
}

button{
	cursor: pointer;
	height: 50px;
	position: fixed;
	right: 0;
}