*{
	margin: 0;
	padding: 0;
}
body{
    display: flex;
/*    flex-direction: column;
    align-items: center;*/
    font-family: Courier New, monospace;
}

canvas{
	cursor: pointer;
}

button{
	cursor: pointer;
	height: 50px;
	position: fixed;
	right: 50px;
	bottom: 50px;
}

#algo-selection-button{
	bottom: 50px;
	position: fixed;
}
input{
	margin: 0.4rem;
	cursor: pointer;
}